[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "external/z"]
	path = external/z
	url = git@github.com:rupa/z.git
[submodule "external/prettygood"]
	path = external/prettygood
	url = git@github.com:madeso/prettygood.git
[submodule "external/git-webui"]
	path = external/git-webui
	url = git@github.com:alberthier/git-webui.git
