[Desktop Entry]
Type=Application
Name=Screenshot window (with shadow)
Exec="maim-window-shadow.sh"
Comment=Select a window and take a screenshot with a shadow
Terminal=false
